<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block titre %}
            Titre par défaut
        {% endblock %}
    </title>
</head>
<body>
header


<hr>
{% block corps %}
    Du contenu par défaut du bloc corps
{% endblock %}
<hr>

footer

</body>
</html>